@charset "UTF-8";

#reply_text{
	margin-left: 60px;
	margin-bottom: 10px;
	width: 640px;
	height: 80px;
	
}


#re_table{
	table-layout: inherit;
}

font#commentDate{
	font-size: 5px;
	color: gray;
	margin-left: 5px;

}