@charset "UTF-8";

#submitbutton{	
	 float:right;
	 margin-left:3px; 
	 width:108px; height:38px; font-size:13px; line-height:38px
}

#contentbutton{	
	 margin-top: 10px;
	 float:center;
	 margin-left:3px; 
	 margin-right: auto;
	 width:108px; height:38px; font-size:13px; line-height:38px
}