<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">

	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO user_member (user_seq, user_id, user_name, user_password, user_birthday, user_email, user_address, user_sex,user_phone)
		VALUES(nextval('user_member_seq'),#{user_id},#{user_name},#{user_password},#{user_birthday},#{user_email},#{user_address},#{user_sex},#{user_phone})
	</insert>

</mapper>
