<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
     <typeAlias type="com.spring.w3m.join.user.vo.UserVO" alias="UserVO" />
     <typeAlias type="com.spring.w3m.inquiry.user.vo.InquiryVO" alias="InquiryVO"  />
     <typeAlias type="com.spring.w3m.notice.admin.vo.NoticeVO" alias="NoticeVO" />
     <typeAlias type="com.spring.w3m.login.admin.vo.AdminVO" alias="AdminVO"/>
     <typeAlias type="com.spring.w3m.product.admin.vo.ProductVO" alias="ProductVO"/>
     <typeAlias type="com.spring.w3m.cart.user.vo.CartVO" alias="CartVO"/>
     <typeAlias type="com.spring.w3m.inquiry.user.vo.ReplyVO" alias="ReplyVO"  />
 </typeAliases>
	<mappers>
		<mapper resource="mapper/joe_Mapper.xml" />
		<mapper resource="mapper/woong_Mapper.xml" />
		<mapper resource="mapper/sw_Mapper.xml" />
		<mapper resource="mapper/soo_Mapper.xml" />
		<mapper resource="mapper/hyeong_Mapper.xml" />
		<mapper resource="mapper/product_Mapper.xml" />	
		<mapper resource="mapper/cart_Mapper.xml" />	
		<mapper resource="mapper/reply_Mapper.xml" />	
	</mappers>
</configuration>
