<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminDAO">

	<select parameterType="AdminVO" resultType="AdminVO" id="getAdmin">
		select * from admin_user 
	</select>
	
	<select resultType="UserVO" id="userList">
		SELECT * FROM user_member	
	</select>
	
	<select id="loginCheck" resultType="String">
		SELECT admin_name FROM admin_user 
		WHERE admin_id = #{admin_id} AND admin_password = #{admin_password}
	</select>
		
	<select id="viewUser" resultType="AdminVO">
		SELECT
			admin_id,
			admin_name
		From admin_user
		WHERE admin_id = #{admin_id} AND admin_password = #{admin_password}
	</select>
	
	<select id="pwCheck" resultType="String">
		SELECT admin_password FROM admin_user WHERE admin_id = #{admin_id}
	</select>
</mapper>
