<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

	<resultMap type="UserVO" id="userResult">
      <id property="user_seq" column="user_seq" />
      <result property="user_name" column="user_name" />
      <result property="user_id" column="user_id" />
      <result property="user_password" column="user_password" />
      <result property="user_birthday" column="user_birthday" />
      <result property="user_gender" column="user_gender" />
      <result property="user_email" column="user_email" />
      <result property="user_zipcode" column="user_zipcode" />
      <result property="user_address1" column="user_address1" />
      <result property="user_address2" column="user_address2" />
      <result property="user_join_date" column="user_join_date" />
      <result property="user_last_login" column="user_last_login" />
      <result property="user_phone" column="user_phone" />
      <result property="user_level" column="user_level" />
      <result property="user_point" column="user_point" />
      <result property="user_marketing_mail" column="user_marketing_mail" />
      <result property="user_marketing_sms" column="user_marketing_sms" />
      <result property="user_state" column="user_state" />
      <result property="user_sns_naver" column="user_sns_naver" />
      <result property="user_sns_kakao" column="user_sns_kakao"/>
   </resultMap>

	<select parameterType="AdminVO" resultType="AdminVO" id="getAdmin">
		select * from admin_user 
	</select>
	
	
	<select id="getUserList" resultType="UserVO">
	select * from user_member 
	</select> 
	
	
	<select id="getUserListCnt" resultType="int">
		select count(*) from user_member
	</select>
	
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="getPageList" resultType="UserVO">
		select
			*
		from user_member
		where 1=1
		<if test="searchType=='user_id' and keyword != null and keyword != '' ">
			AND user_id like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='user_name' and keyword != null and keyword != '' ">
			AND user_name like CONCAT('%', #{keyword}, '%')
		</if>
		order by user_name
		limit #{listSize} offset #{startList}
	</select>	
	
	<select id="getSearchCnt" parameterType="String" resultType="int">
		select count(*) from user_member
	<trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test="keyword != null and keyword != '' ">
			<if test="searchType=='user_id'">
				AND user_id like CONCAT('%', #{keyword}, '%')
			</if>

			<if test="searchType=='user_name'">
				AND user_name like CONCAT('%', #{keyword}, '%')
			</if>
      </if>
	</trim>
	</select>
	
	<select id="getSearchPagingList" resultType="UserVO">
		SELECT * FROM user_member where 1=1
		<if test="searchCondition == 'user_id'">
			AND user_id LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'user_name'">
			AND user_name LIKE '%'||#{searchKeyword}||'%'
		</if>
		order by user_name desc
	</select>
	<!-- 여기까지 페이징 처리 -->
	
	<select id="loginCheck" resultType="String">
		SELECT admin_name FROM admin_user 
		WHERE admin_id = #{admin_id} AND admin_password = #{admin_password}
	</select>
		
	<select id="viewUser" resultType="AdminVO">
		SELECT
			admin_id,
			admin_name
		From admin_user
		WHERE admin_id = #{admin_id} AND admin_password = #{admin_password}
	</select>
	
	<select id="pwCheck" resultType="String">
		SELECT admin_password FROM admin_user WHERE admin_id = #{admin_id}
	</select>

	<update id="updateUserPause" parameterType="UserVO">
		UPDATE user_member SET user_state=#{user_state} where user_id=#{user_id}
	</update>
	
	<!-- 유저정보 가져오기 -->
	<select id="getUser" resultType="UserVO">
		SELECT * FROM user_member WHERE user_id = #{user_id}
	</select>
	
	<!-- 배송정보 가져오기 -->
	<select id="getDelivery" resultType="DeliveryVO">
		SELECT * FROM delivery WHERE order_seq = #{order_seq}
	</select>
	
	<!-- 상품정보 가져오기 -->
	<select id="getOrderProductList" resultType="OrderProductInfoVO">
		SELECT prod.prod_title_image, prod.prod_title, prod.prod_price_sale, o.order_seq, o.order_prod_seq, o.prod_amount,
				prod.prod_point, d.delivery_state, d.delivery_seq, prod.prod_code
		FROM product as prod, order_prod as o, delivery as d
		WHERE prod.prod_code = o.prod_code and o.order_seq = d.order_seq and o.order_seq = #{order_seq} and o.user_id = #{user_id}
	</select>
	
	<!-- 결제정보 가져오기 -->
	<select id="getPay" resultType="PayVO">
		SELECT * FROM pay WHERE order_seq = #{order_seq}
	</select>
	
	<!-- 회원등급 가져오기 -->
	<select id="getUserLevel" resultType="String">
		SELECT user_level FROM user_member WHERE user_id = #{user_id}
	</select>	
</mapper>