<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminDAO">

	<select parameterType="AdminVO" resultType="AdminVO" id="getAdmin">
		select * from admin_user 
	</select>
	
	<select resultType="UserVO" id="userList">
		SELECT * FROM user_member	
	</select>
	
	<select id="loginCheck" resultType="String">
		SELECT admin_name FROM admin_user 
		WHERE admin_id = #{admin_id} AND admin_password = #{admin_password}
	</select>
		
	<select id="viewUser" resultType="AdminVO">
		SELECT
			admin_id,
			admin_name
		From admin_user
		WHERE admin_id = #{admin_id} AND admin_password = #{admin_password}
	</select>
	
	<select id="pwCheck" resultType="String">
		SELECT admin_password FROM admin_user WHERE admin_id = #{admin_id}
	</select>
	
	<!-- <select id="userList" resultType="UserVO">
	SELECT COUNT(*) FROM user_member
	</select> -->

	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="getUserList" resultType="UserVO">
		<![CDATA[select
			user_id,
			user_name,
			user_birthday,
			user_gender,
			user_address1,
			user_phone,
			user_join_date,
			user_state
		from user_member
		order by user_id
		OFFSET 0 limit 10;
		]]>
	</select> 
	

	
</mapper>
