<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPageDAO">
	<select id="myPageList" resultType="com.spring.w3m.inquiry.user.vo.InquiryVO">
		select
			*
		from
			inquiry
		where
			inq_email = #{user_email}
		order by inq_date desc
	</select>
	<select id="myPageListcnt" resultType="int">
		select
			count(*)
		from
			inquiry
		where
			inq_email = #{user_email}
	</select>
	
	<select id="myUser" resultType="com.spring.w3m.join.user.vo.UserVO">
		select 
			*
		from
			user_member
		where
			user_seq = #{user_seq}
	</select>
	
	<select id="myReviewList" resultType="com.spring.w3m.review.user.vo.ReviewVO">
		select
			*
		from
			review
		where
			review_email = #{user_email}
		order by review_date desc
	</select>
	<select id="myReviewListcnt" resultType="int">
		select
			count(*)
		from
			review
		where
			review_email = #{user_email}
	</select>
	
	<select id="myOrderList" resultType="OrderVO" parameterType="String">
		SELECT o.order_seq, o.order_date, d.prod_title, p.pay_total_money as total_cost FROM pay as p, order_list as o , delivery as d
		WHERE o.order_seq = p.order_seq AND o.order_seq = d.order_seq AND o.user_id = #{user_id}
	</select>
	
	<select id="deliveryState" resultType="DeliveryVO" parameterType="int">
	SELECT * FROM delivery_state where order_seq = #{order_seq}
	</select>
	
	<select id="orderProductInfo" resultType="OrderProductInfoVO" parameterType="String">
		SELECT p.prod_title_image, p.prod_title, p.prod_price_sale, o.order_seq, o.order_prod_seq, o.prod_amount,
				p.prod_point, d.delivery_state, d.delivery_seq
		FROM product as p, order_prod as o, delivery as d
		WHERE p.prod_code = o.prod_code and o.order_seq = d.order_seq and o.user_id = #{user_id}
	</select>
	
	<select id="receiverInfo" resultType="OrderVO">
		SELECT o.order_date, o.order_seq, u.user_name FROM order_list AS o, user_member AS u
		WHERE u.user_id = o.user_id AND o.order_seq = #{order_seq} AND o.user_id = #{user_id}
	</select>
	
	<select id="deliveryInfo" resultType="DeliveryVO">
		SELECT * FROM delivery WHERE order_seq = #{order_seq} AND user_id = #{user_id}
	</select>
	
<!-- 최신 게시글 보기 -->
	<select resultType="com.spring.w3m.mypage.user.vo.MyPageVO" id="recentList">
		select * from (select inq_seq, inq_title, inq_date, inq_email, '문의사항' as table_name from inquiry union select review_seq, review_title, review_date, review_email, '후기' as table_name from review) as u where u.inq_email=#{user_email} order by u.inq_date desc limit 5;
	</select>
	
</mapper>