<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PointDAO">

<select id="getPointList" resultType="PointVO">
	select 
		*
	from
		add_point
	where
		user_id = #{user_id} and order_state='사용가능'
	order by
		use_date desc
</select>

<select id="getPointListCnt" resultType="int">
	select 
		count(*) 
	from 
		add_point
</select>

<insert id="insertPoint" parameterType="PointVO">
	insert into
		add_point(user_id, add_point, point_content)
	values
		(#{user_id},#{add_point},#{point_content})
</insert>

<delete id="deletePoint" parameterType="PointVO">
	delete from 
		add_point 
	where 
		user_id=#{user_id} 
	and 
		use_date=#{use_date};
</delete>

<select id="getPayList" resultType="com.spring.w3m.order.user.vo.PayVO">
	select
		*
	from
		pay
	where
		pay_seq = #{pay_seq}
</select>

<update id="plusPoint" parameterType="PointVO"> 
	update user_member set user_point = user_point + #{add_point} WHERE user_id=#{user_id} 
</update>
	
	
<update id="minusPoint" parameterType="PointVO"> 
	update user_member set user_point = user_point + #{add_point} WHERE user_id=#{user_id} 
</update>



</mapper>