<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

	<select id="getProductList" resultType="ProductVO">
		SELECT * FROM product ORDER BY prod_seq DESC
	</select>
	
	<select id="getProduct" resultType="ProductVO">
		SELECT * FROM product WHERE prod_seq = #{prod_seq}
	</select>

	<insert id="insert">
		INSERT INTO product (prod_seq, prod_code, prod_title, prod_price, prod_price_sale, prod_amount, prod_comment, prod_point, prod_title_image,
							prod_discount_rate, prod_point_rate, prod_image1, prod_image2, prod_image3, prod_image4, prod_image5, prod_image6, 
							prod_image7, prod_image8, prod_image9, prod_image10) 
		VALUES (nextval('prod_seq'), #{prod_code}, #{prod_title}, #{prod_price}, #{prod_price_sale}, #{prod_amount}, #{prod_comment}, #{prod_point}, #{prod_title_image},
				#{prod_discount_rate}, #{prod_point_rate}, #{prod_image1}, #{prod_image2}, #{prod_image3}, #{prod_image4}, #{prod_image5}, #{prod_image6},
				#{prod_image7}, #{prod_image8}, #{prod_image9}, #{prod_image10})
	</insert>
	
	<update id="update">
		UPDATE product SET prod_code = #{prod_code}, prod_title = #{prod_title}, prod_price = #{prod_price}, prod_price_sale=#{prod_price_sale},
						prod_amount = #{prod_amount}, prod_comment = #{prod_comment}, prod_point = #{prod_point}, prod_title_image = #{prod_title_image},
						prod_discount_rate = #{prod_discount_rate}, prod_point_rate = #{prod_point_rate}, prod_image1 = #{prod_image1}, prod_image2 = #{prod_image2},
						prod_image3 = #{prod_image3}, prod_image4 = #{prod_image4}, prod_image5 = #{prod_image5}, prod_image6 = #{prod_image6},
						prod_image7 = #{prod_image7}, prod_image8 = #{prod_image8}, prod_image9 = #{prod_image9}, prod_image10 = #{prod_image10}
		WHERE prod_seq = #{prod_seq}
	</update>	
	
	<delete id="delete">
		DELETE FROM product WHERE
		prod_seq = #{prod_seq}
	</delete>
	
</mapper>