<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

	<select id="getProductList" resultType="ProductVO">
		SELECT * FROM product ORDER BY prod_seq DESC
	</select>
	
	<select id="getProduct" resultType="ProductVO">
		SELECT * FROM product WHERE prod_seq = #{prod_seq}
	</select>

	<insert id="insert">
		INSERT INTO product (prod_seq, prod_code, prod_title, prod_price, prod_price_sale, prod_amount, prod_comment, prod_point, prod_title_image) 
		VALUES (nextval('prod_seq'), #{prod_code}, #{prod_title}, #{prod_price}, #{prod_price_sale}, #{prod_amount}, #{prod_comment}, #{prod_point}, #{prod_title_image})
	</insert>
	
	<update id="update">
		UPDATE product SET prod_code = #{prod_code}, prod_title = #{prod_title}, prod_price = #{prod_price}, prod_price_sale=#{prod_price_sale},
						prod_amount = #{prod_amount}, prod_comment = #{prod_comment}, prod_point = #{prod_point}, prod_title_image = #{prod_title_image}
		WHERE prod_seq = #{prod_seq}
	</update>	
	
	<delete id="delete">
		DELETE FROM product WHERE
		prod_seq = #{prod_seq}
	</delete>
	
</mapper>