<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

	<select id="getProductList" resultType="ProductVO">
		SELECT * FROM product ORDER BY prod_seq DESC
	</select>
	
	<select id="getProduct" resultType="ProductVO">
		SELECT * FROM product WHERE prod_seq = #{prod_seq}
	</select>

	<insert id="insert">
		INSERT INTO product (prod_seq, prod_code, prod_title, prod_price, prod_price_sale, prod_amount, prod_comment, prod_point, prod_title_image,
							prod_discount_rate, prod_point_rate, prod_image1, prod_image2, prod_image3, prod_image4, prod_image5, prod_image6, 
							prod_image7, prod_image8, prod_image9, prod_image10, prod_category1, prod_category2, prod_category3, prod_category4) 
		VALUES (nextval('prod_seq'), #{prod_code}, #{prod_title}, #{prod_price}, #{prod_price_sale}, #{prod_amount}, #{prod_comment}, #{prod_point}, #{prod_title_image},
				#{prod_discount_rate}, #{prod_point_rate}, #{prod_image1}, #{prod_image2}, #{prod_image3}, #{prod_image4}, #{prod_image5}, #{prod_image6},
				#{prod_image7}, #{prod_image8}, #{prod_image9}, #{prod_image10}, #{prod_category1}, #{prod_category2}, #{prod_category3}, #{prod_category4})
	</insert>
	
	<update id="addStock">
		UPDATE product SET prod_amount = #{prod_amount} WHERE prod_seq = #{prod_seq}
	</update>
	
	<update id="update">
		UPDATE product SET prod_code = #{prod_code}, prod_title = #{prod_title}, prod_price = #{prod_price}, prod_price_sale=#{prod_price_sale},
						prod_amount = #{prod_amount}, prod_comment = #{prod_comment}, prod_point = #{prod_point}, prod_title_image = #{prod_title_image},
						prod_discount_rate = #{prod_discount_rate}, prod_point_rate = #{prod_point_rate}, prod_image1 = #{prod_image1}, prod_image2 = #{prod_image2},
						prod_image3 = #{prod_image3}, prod_image4 = #{prod_image4}, prod_image5 = #{prod_image5}, prod_image6 = #{prod_image6},
						prod_image7 = #{prod_image7}, prod_image8 = #{prod_image8}, prod_image9 = #{prod_image9}, prod_image10 = #{prod_image10},
						prod_category1 = #{prod_category1}, prod_category2 = #{prod_category2}, prod_category3 = #{prod_category3}, prod_category4 = #{prod_category4}
		WHERE prod_seq = #{prod_seq}
	</update>	
	
	<delete id="delete">
		DELETE FROM product WHERE
		prod_seq = #{prod_seq}
	</delete>
	
	
	<select id="getProductListCnt" resultType="int">
		select count(*) from product
	</select>
	
	<select id="getPageList" resultType="ProductVO">
		select 
			prod_seq,
			prod_code,
			prod_title, 
			prod_title_image,
			prod_price,
			prod_price_sale, 
			prod_point, 
			prod_amount,
			prod_regdate
		from product
		where 1=1
		<if test="searchType=='prod_title' and keyword != null and keyword != '' ">
			AND prod_title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='prod_code' and keyword != null and keyword != '' ">
			AND prod_code like CONCAT('%', #{keyword}, '%')
		</if>
		order by prod_seq desc
		limit #{listSize} offset #{startList}
	</select>	
	
	<select id="getSearchCnt" parameterType="String" resultType="int">
		select count(*) from product
	<trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test="keyword != null and keyword != '' ">
			<if test="searchType=='user_id'">
				AND prod_title like CONCAT('%', #{keyword}, '%')
			</if>

			<if test="searchType=='order_seq'">
				AND prod_code like CONCAT('%', #{keyword}, '%')
			</if>
      </if>
	</trim>
	</select>
	
	<select id="getSearchPagingList" resultType="DeliveryVO">
		SELECT * FROM product where 1=1
		<if test="searchCondition == 'prod_title'">
			AND prod_title LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'prod_code'">
			AND prod_code LIKE '%'||#{searchKeyword}||'%'
		</if>
		order by prod_seq desc
	</select>
	
</mapper>