<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReplyDAO">

<!-- 댓글 조회 -->
	<select id="getReplyList" resultType="ReplyVO">
		SELECT re_seq, re_content, re_writer, re_date FROM reply WHERE inq_seq = #{inq_seq}
	</select>

<!-- 댓글 작성 -->
	<insert id="insertReply">
		INSERT INTO reply (inq_seq, re_seq, re_content, re_writer) values(#{inq_seq}, nextval('re_inq_seq'), #{re_content}, #{re_writer})
	</insert>
	
<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE FROM reply WHERE re_seq = #{re_seq} 
	</delete>	

<!-- 댓글 수정 -->
	<update id="updateReply">
		UPDATE reply SET re_content = #{re_content} WHERE re_seq = #{re_seq}
	</update>	
	
<!-- 후기 댓글 조회 -->
	<select id="getReviewReplyList" resultType="ReplyVO">
		SELECT review_re_seq, review_re_content, review_re_writer, review_re_date FROM review_reply WHERE review_seq = #{review_seq}
	</select>	
	
<!-- 후기 댓글 작성 -->
	<insert id="insertReviewReply">
		INSERT INTO review_reply (review_seq, review_re_seq, review_re_content, review_re_writer) values(#{review_seq}, nextval('re_review_seq'), #{review_re_content}, #{review_re_writer})
	</insert>	

<!-- 후기 댓글 상세 -->
	<select id="getReply" resultType="ReplyVO">
		SELECT * FROM review_reply WHERE review_re_seq = #{review_re_seq}
	</select>

<!-- 후기 댓글 수정 -->
	<update id="updateReviewReply">
		UPDATE review_reply SET review_re_content = #{review_re_content} WHERE review_re_seq = #{review_re_seq}
	</update>

<!-- 후기 댓글 삭제 -->
	<delete id="deleteReviewReply">
		DELETE FROM review_reply WHERE review_re_seq = #{review_re_seq}
	</delete>	

<!-- 후기 댓글 갯수 -->
	<update id="replyCntUpdate" parameterType="int"> update review set review_cnt=review_cnt+1 WHERE review_seq=#{review_seq} from review_reply </update>
		
</mapper>
