<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 글 등록하기 -->
<mapper namespace="InquiryDAO">
	<insert id="insertInquiry" parameterType="InquiryVO">
		INSERT INTO inquiry (inq_seq, inq_title, inq_writer, inq_email, inq_content, inq_pass)
		VALUES(nextval('inq_user_seq'), #{inq_title}, #{inq_writer}, #{inq_email}, #{inq_content}, #{inq_pass})
	</insert>

<!-- 리스트 보기 -->
	<select id="getInquiryList" resultMap="inquiryResult">
<!-- SELECT inq_seq, inq_title, inq_writer, inq_date, inq_cnt FROM inquiry getInquiryListCnt -->		
	select * from inquiry getInquiryListCnt order by inq_seq desc
	</select>
	
	<resultMap type="InquiryVO" id="inquiryResult">
		<id property="inq_seq" column="inq_seq" />
		<result property="inq_title" column="inq_title" />
		<result property="inq_writer" column="inq_writer" />
		<result property="inq_content" column="inq_content" />
		<result property="inq_email" column="inq_email" />
		<result property="inq_date" column="inq_date" />
		<result property="inq_pass" column="inq_pass" />
		<result property="inq_cnt" column="inq_cnt" />
	</resultMap>

<!-- 게시글 상세보기 -->
	<select id="getInquiry" resultType="InquiryVO">
		SELECT * FROM inquiry WHERE inq_seq = #{inq_seq}
	</select>
	
<!-- 조회수 증가 -->
	<update id="inquiryCntUpdate" parameterType="InquiryVO"> update inquiry set inq_cnt=inq_cnt+1 WHERE inq_seq=#{inq_seq} </update>

<!-- 게시글 수정하기 -->
	<update id="updateInquiry" parameterType="InquiryVO">
		UPDATE inquiry SET inq_title = #{inq_title}, inq_content = #{inq_content} WHERE inq_seq=#{inq_seq}
	</update>
	
<!-- 게시글 삭제하기 -->
	<delete id="deleteInquiry" parameterType="InquiryVO">
		DELETE FROM inquiry WHERE inq_seq = #{inq_seq} 
	</delete>	
	
	
	<select id="getInquiryListCnt" resultType="int">
		select count(*) from inquiry
	</select>
	
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="getPageList" resultType="InquiryVO">
		select
			inq_seq,
			inq_title,
			inq_writer,
			inq_content,
			inq_email,
			inq_date,
			inq_pass,
			inq_cnt
		from inquiry
		where 1=1
		<if test="searchType=='inq_title' and keyword != null and keyword != '' ">
			AND inq_title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='inq_content' and keyword != null and keyword != '' ">
			AND inq_content like CONCAT('%', #{keyword}, '%')
		</if>
		order by inq_seq desc
		limit #{listSize} offset #{startList}
	</select>	
	
	<select id="getSearchCnt" parameterType="String" resultType="int">
		select count(*) from inquiry
	<trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test="keyword != null and keyword != '' ">
			<if test="searchType=='inq_title'">
				AND inq_title like CONCAT('%', #{keyword}, '%')
			</if>

			<if test="searchType=='inq_content'">
				AND inq_content like CONCAT('%', #{keyword}, '%')
			</if>
      </if>
	</trim>
	</select>
	
	<select id="getSearchPagingList" resultType="InquiryVO">
		SELECT * FROM inquiry where 1=1
		<if test="searchCondition == 'inq_title'">
			AND inq_title LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'inq_content'">
			AND inq_content LIKE '%'||#{searchKeyword}||'%'
		</if>
		order by inq_seq desc
	</select>
	<!-- 여기까지 페이징 처리 -->


</mapper>
