<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 글 등록하기 -->
<mapper namespace="InquiryDAO">
	<insert id="insertInquiry" parameterType="InquiryVO">
		INSERT INTO inquiry (inq_seq, inq_title, inq_writer, inq_content)
		VALUES(nextval('inq_user_seq'), #{inq_title}, #{inq_writer}, #{inq_content})
	</insert>

<!-- 리스트 보기 -->
	<select id="getInquiryList" resultMap="inquiryResult">
		SELECT inq_seq, inq_title, inq_writer, inq_date, inq_cnt FROM inquiry ORDER BY inq_seq DESC
	</select>
	
	<resultMap type="InquiryVO" id="inquiryResult">
		<id property="inq_seq" column="inq_seq" />
		<result property="inq_title" column="inq_title" />
		<result property="inq_writer" column="inq_writer" />
		<result property="inq_content" column="inq_content" />
		<result property="inq_date" column="inq_date" />
		<result property="inq_cnt" column="inq_cnt" />
	</resultMap>

<!-- 게시글 상세보기 -->
	<select id="getInquiry" resultType="InquiryVO">
		SELECT * FROM inquiry WHERE inq_seq = #{inq_seq}
	</select>
	
<!-- 조회수 증가 -->
	<update id="inquiryCntUpdate" parameterType="InquiryVO"> update inquiry set inq_cnt=inq_cnt+1 WHERE inq_seq=#{inq_seq} </update>

<!-- 게시글 수정하기 -->
	<update id="updateInquiry" parameterType="InquiryVO">
		UPDATE inquiry SET inq_title = #{inq_title}, inq_content = #{inq_content} WHERE inq_seq=#{inq_seq}
	</update>
<!-- 게시글 삭제하기 -->
	<delete id="deleteInquiry" parameterType="InquiryVO">
		DELETE FROM inquiry WHERE inq_seq = #{inq_seq} 
	</delete>	
</mapper>
