<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StatisticsDAO">
	
	<select id="salesByGender" resultType="StatisticsVO">
	select um.user_gender, count(*) as user_count, sum(pa.pay_total_money) as total_sum
	from order_list ol , pay pa ,user_member um
	where ol.order_seq = pa.order_seq and ol.user_id = um.user_id and ol.order_status = '구매확정' 
	
	group by um.user_gender ;
	</select>
	
	<select id="salesByMonth" resultType="StatisticsVO">
	select  sum(pa.pay_total_money) as total_sum,sum(pa.pay_use_point) as total_use_point, to_char(ol.order_date,'YYYY-MM-DD') as date_total 
	from order_list ol , pay pa ,user_member um
	where ol.order_seq = pa.order_seq and ol.user_id = um.user_id and ol.order_status = '구매확정' and ol.order_date between #{StartDate} and #{endDate}
	group by date_total
	order by date_total
	</select>
	
	<select id="todaySales" resultType="StatisticsVO" >
	select sum(pa.pay_total_money) as total_sum
	from order_list ol , pay pa ,user_member um,to_char(ol.order_date,'YYYY-MM-DD') as date_total
	where ol.order_seq = pa.order_seq and ol.user_id = um.user_id and ol.order_status = '구매확정' and date_total = to_char(now(),'YYYY-MM-DD')
	</select>
	
	<select id="todayJoin" resultType="StatisticsVO">
	select count(*) as join_count
	from user_member 
	where to_char(user_join_date,'YYYY-MM-DD') = to_char(now(),'YYYY-MM-DD');
	</select>
	<select id="todayProdAmount" resultType="StatisticsVO">
	select sum(op.prod_amount) as prod_count
	from order_list ol , pay pa,order_prod op ,user_member um,to_char(ol.order_date,'YYYY-MM-DD') as date_total
	where ol.order_seq = pa.order_seq and ol.order_seq = op.order_seq and ol.user_id = um.user_id 
	and ol.order_status = '구매확정' and date_total = to_char(now(),'YYYY-MM-DD');
	</select>
	<select id="todayCencle" resultType="StatisticsVO">
	select sum(op.prod_amount) as prod_cencle
	from order_list ol , pay pa,order_prod op ,user_member um,to_char(ol.order_date,'YYYY-MM-DD') as date_total
	where ol.order_seq = pa.order_seq and ol.order_seq = op.order_seq and ol.user_id = um.user_id 
	and ol.order_status = '주문취소' and date_total = to_char(now(),'YYYY-MM-DD');
	</select>
</mapper>
