<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeDAO">

	<resultMap type="NoticeVO" id="noticeResult">
		<id property="nt_seq" column="nt_seq" />
		<result property="nt_title" column="nt_title" />
		<result property="nt_writer" column="nt_writer" />
		<result property="nt_content" column="nt_content" />
		<result property="nt_date" column="nt_date" />
		<result property="nt_count" column="nt_count" />
	</resultMap>

	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO notice (nt_seq, nt_title, nt_writer, nt_content)
		VALUES(nextval('nt_seq'), #{nt_title}, #{nt_writer}, #{nt_content})
	</insert>

	<update id="updateNotice" parameterType="NoticeVO">
		UPDATE notice
		SET
		nt_title=#{nt_title}, nt_content=#{nt_content}
		WHERE nt_seq = #{nt_seq}
	</update>

	<delete id="deleteNotice" parameterType="NoticeVO">
		DELETE FROM notice WHERE
		nt_seq = #{nt_seq}
	</delete>

	<select id="getNotice" resultType="NoticeVO">
		SELECT * FROM notice WHERE nt_seq = #{nt_seq}
	</select>


	<select id="getNoticeList" resultMap="noticeResult">
		SELECT * FROM notice
		WHERE 1=1
		<if test="searchCondition=='TITLE'">
			AND nt_title LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition=='CONTENT'">
			AND nt_content LIKE '%'||#{searchKeyword}||'%'
		</if>
		order by nt_seq desc
	</select>
	
	<update id="NoticeCntUpdate" parameterType="NoticeVO"> update notice set nt_count=nt_count+1 WHERE nt_seq=#{nt_seq} </update>
	
<!-- 	
	<select id="countBoard" resultType="NoticeVO">
		SELECT COUNT(*) FROM notice
	</select>

	
	<select id="selectBoard" resultType="com.my.spring.domain.BoardVO">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM notice 
							ORDER BY nt_seq DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
</select>
 -->
</mapper>
