<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">

	<insert id="insertUser" parameterType="UserVO">
	INSERT INTO user_member (user_seq, user_id, user_name, user_password, user_birthday, user_gender, user_email, user_zipcode, user_address1, user_address2, user_phone, user_marketing_mail, user_marketing_sms)
	VALUES (nextval('user_member_seq'), #{user_id}, #{user_name}, #{user_password}, #{user_birthday}, #{user_gender}, #{user_email}, #{user_zipcode}, #{user_address1}, #{user_address2}, #{user_phone}, #{user_marketing_mail}, #{user_marketing_sms})
	</insert>
	<select id="getUser" parameterType="UserVO" resultType="UserVO">
		SELECT * From user_member 
	</select>
	
	<select id="idCheck" parameterType="string" resultType="int"> 
	 select count(*) from user_member where user_id = #{user_id} 
	</select>
	
	<select id="passCheck" parameterType="String" resultType="String">
		SELECT user_password From user_member where user_id = #{user_id}
	</select>
	<update id="updateUser" parameterType="UserVO">
		UPDATE user_member SET user_name = #{user_name} , user_password = #{user_password}, user_birthday = #{user_birthday}, user_gender = #{user_gender}, user_email = #{user_email}, user_zipcode = #{user_zipcode}, user_address1 = #{user_address1}, user_address2 = #{user_address2}, user_phone =#{user_phone}, user_marketing_mail = #{user_marketing_mail}, user_marketing_sms = #{user_marketing_sms}
		WHERE user_id = #{user_id}
	</update>
</mapper>
